@model IEnumerable<Prospects.Domain.Communications.Helpers.CommunicationType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommunicationTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommunicationTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommunicationTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommunicationTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommunicationTypeId })
        </td>
    </tr>
}

</table>
