@model Prospects.Domain.Companies.Company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanySector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanySector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyNIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyNIF)
        </dd>

        <dt>
            Forma Legal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegalForm.LegalFormDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyProspectlStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyProspectlStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAEPrincipal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAEPrincipal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivitySector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivitySector.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrategicClient)
        </dt>

        <dd>
            @if (Model.StrategicClient)
        {
            <p style="color:forestgreen"><b>Empresa estratégica</b></p>
    }
    else
    {
        <p style="color:red"><b>Empresa não estratégica</b></p>
}
            @*@Html.DisplayFor(model => model.ActivitySector.Description)*@
        </dd>

        <dt>
            Estado comercial
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComercialStatus.CommercialStatusDescription)
        </dd>

        <dt>
            Classificação Empresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyClassification.CompanyClassificationDescription)
        </dd>
    </dl>

    <hr class="dl-horizontal" />

    @if (Model.Contacts.Count != 0)
    {
    <h2>CONTACTOS @Model.CompanyName</h2>

            <p>@Html.ActionLink(" ","Create", "Contacts", new { comp = Model.CompanyId }, new { @class = "btn btn-success btn-small glyphicon glyphicon-plus" })</p>

        <table class="table table-responsive table-hover">
            <thead class="thead-dark">
                <tr>
                    <td>Nome</td>
                    <td>Email</td>
                    <td>Contactado</td>
                    <td></td>
                </tr>
            </thead>

            @foreach (var contact in Model.Contacts.OrderBy(c => c.ContactName))
            {
            <tr>
                <td><b>@contact.ContactName</b></td>
                <td>@contact.ContactEmail</td>
                <td>
                    @if (contact.Communications.Count > 0)
                    {
                        var comms = contact.Communications.ToList();

                        <img src="~/Content/Images/ic_checked.png" width="20" title="Último contacto
                             "/>
                    }
                    else
                    {
                        <img src="~/Content/Images/ic_unchecked.png" width="20" />
                    }
                </td>
                <td>
                    @Html.ActionLink(" ", "Details", "Contacts", new { id = contact.ContactId }, new { @class = "btn btn-success btn-btn-small glyphicon glyphicon-eye-open", title="Ver " + @contact.ContactName} ) |
                    @Html.ActionLink(" ", "Edit", "Contacts", new { id = contact.ContactId }, new { @class = "btn btn-warning btn-btn-small glyphicon glyphicon-pencil", title="Editar" }) | 
                    @Html.ActionLink(" ", "Delete", "Contacts", new { id = contact.ContactId }, new { @class = "btn btn-danger btn-btn-small glyphicon glyphicon-remove-sign", title="Apagar" })
                </td>
            </tr>
            }
        </table>
    }
    else
    {
        <p style="text-align:center;margin-bottom:10px"><img src="~/Content/Images/ic_frustrated_100.png" /></p>
        <h3 style="text-align:center">AINDA NÃO ADICIONOU CONTACTOS A @Model.CompanyName.ToUpper()</h3>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
