@model Prospects.Domain.Companies.Company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanySector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanySector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyNIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyNIF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyLegalForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyLegalForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyProspectlStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyProspectlStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAEPrincipal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAEPrincipal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivitySector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivitySector.Description)
        </dd>
    </dl>

    <hr class="dl-horizontal" />

    @if (Model.Contacts != null)
    {
    <h2>CONTACTOS @Model.CompanyName</h2>

            <p>@Html.ActionLink("+", "Create", "Contacts", new { comp = Model.CompanyId }, new { @class = "btn btn-success btn-small" })</p>

        <table class="table table-responsive table-hover">
            <thead class="thead-dark">
                <tr>
                    <td>Nome</td>
                    <td>Email</td>
                    <td>Contactado</td>
                </tr>
            </thead>

            @foreach (var contact in Model.Contacts.OrderBy(c => c.ContactName))
            {
                <tr>
                    <td><b>@contact.ContactName</b></td>
                    <td>@contact.ContactEmail</td>
                    <td>@if (contact.Communications.Count > 0)
                    {
                        <img src="~/Content/Images/ic_checked.png" width="20"/>
                    }
                    else
                    {
                        <img src="~/Content/Images/ic_unchecked.png" width="20"/>
                    }
                    </td>
                    <td>@Html.ActionLink("Ver", "Details", "Contacts", new { id = contact.ContactId }, new { @class = "btn btn-success btn-btn-small" })</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No jobs found</p>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
