@model Prospects.Domain.Companies.Helpers.LegalForm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LegalForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LegalFormDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegalFormDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegalFormNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegalFormNotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LegalFormId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
