@model IEnumerable<Prospects.Domain.Communications.Communication>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contact.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommunicationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommunicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommunicationResponsible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommunicationReply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommunicationReplyStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommunicationDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommunicationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommunicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommunicationResponsible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommunicationReply)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommunicationReplyStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommunicationDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommunicationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommunicationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommunicationId })
        </td>
    </tr>
}

</table>
