@model Prospects.Domain.Companies.Helpers.CompanyClassification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompanyClassification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyClassificationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyClassificationDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyClassificationNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyClassificationNotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyClassificationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
