@model IEnumerable<Prospects.Domain.Companies.Helpers.CompanyClassification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyClassificationDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyClassificationNotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyClassificationDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyClassificationNotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyClassificationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompanyClassificationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyClassificationId })
        </td>
    </tr>
}

</table>
