@using Microsoft.AspNet.Identity

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>@Html.ActionLink("ActivitySectors", "Index", "ActivitySectors")</li>
        <li>@Html.ActionLink("CompanyClassifications", "Index", "CompanyClassifications")</li>
        <li>@Html.ActionLink("ComercialStatusS", "Index", "ComercialStatusS")</li>
        <li>@Html.ActionLink("LegalForms", "Index", "LegalForms")</li>
        <li>@Html.ActionLink("CommunicationTypes", "Index", "CommunicationTypes")</li>
    </ul>
</div>
